.root {
  min-height: 100vh;
}
.logo{
  width: 200px;
  height: 48px;
  color: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 24px
}

.side {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
}

.content {
  margin: 24px 16px 0;
  overflow: inherit;
}

.contentLayout {
  padding: 24;
  text-align: center;
}